@model AirlineTickectBookingMVCProject.Models.LoadModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
 
<head>
    <meta http-equiv="refresh" content="4;url=http://localhost:52038/Passenger/Create" />
    <link href="~/Content/search.css" rel="stylesheet" />
</head>
<body>
    <h1 class="heading">Breeze</h1>
    <h1 class="heading1">A i r w a y s</h1>
    <h1 class="source">@TempData["start"]</h1>
    <h1 class="destination">@TempData["end"]</h1>

</body>
</html>