@{
    Layout = null;
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/FlightDetailsDisplay.css" rel="stylesheet" />
<nav class="navbar navbar-expand-sm   navbar-dark   fixed-top" style="background-color:black;width:100%;">
    <div class="logo-bar" style="position:sticky">
        <h2 style="padding:15px; font-weight:lighter;font-size:32px;letter-spacing:3px;">BREEZE AIRWAYS</h2>
    </div>
</nav>
<div>
    @RenderBody()
</div>